@import "./fonts";

$primary: #fa6094;
$secondary: #e7191a;
$success: #30d158;
$info: #2f80ed;
$warning: #ff9f0a;
$danger: #e7191a;
$light: #eef0f8;
$dark: #101828;
$dark-blue: #01376a;
$cyan: #4cf4ff;
$gray-50: #fafafa;
$gray-80: #f3f3f3;
$gray-100: #f9fafb;
$gray-200: #f1f2f4;
$gray-300: #eeeff2;
$gray-400: #cbd5e0;
$gray-500: #a0aec0;
$gray-600: #798071;
$gray-700: #434d57;
$gray-800: #23294d;
$gray-900: #111827;
$grays: (
  "50": $gray-50,
);
$body-color: #667085;
$body: #686565;
$black: #000;
$white: #fff;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "cyan": $cyan,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "white": $white,
  "dark": $dark,
  "dark-blue": $dark-blue,
  "black": $black,
  "body": $body,
  "gray": $gray-300,
  "gray-80": $gray-80,
  "gray-50": $gray-50,
  "gray-500": $gray-500,
  "gray-600": $gray-600,
  "gray-700": $gray-700,
  "gray-800": $gray-800,
);

$text-muted: $gray-600;

$spacer: 1rem;
$spacers: (
  0: 0,
  5px: 5px,
  10px: 10px,
  12px: 12px,
  16px: 16px,
  20px: 20px,
  30px: 30px,
  40px: 40px,
  50px: 50px,
  60px: 60px,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
);
