<div class="col-md-4 mb-4 ps-16px ms-auto">
    <select class="form-select py-3" (change)="filterCategories($event)">
        <option value="all">All Categories</option>
        <option value="{{category}}" *ngFor="let category of categories">{{category}}</option>
    </select>
</div>

<div class="row row-cols-1 row-cols-md-3 g-20px">
    <div class="col" *ngFor="let product of products">
        <div class="card">
            <img src="{{product.image}}" alt="">
            <h3 style="height: 70px; overflow-y: hidden;">{{product.title}}</h3>
            <p style="height: 80px; overflow-y: auto;">{{product.description}}</p>
            <div class="d-flex justify-content-between align-items-center">
                <button class="btn btn-success px-4 text-white ">Add to Cart</button>
                <p class="btn btn-danger rounded-pill">{{product.price}} LE</p>
            </div>
        </div>
    </div>
</div>