<div class="col-md-4 mb-4 ps-16px ms-auto">
    <select class="form-select py-3" (change)="filterCategories($event)">
        <option value="all">All Categories</option>
        <option value="{{category}}" *ngFor="let category of categories">{{category}}</option>
    </select>
</div>

<div class="row row-cols-1 row-cols-md-4 g-20px" *ngIf="!loading">
    <div class="col" *ngFor="let product of products">
        <app-product [data]="product" (item)="addToCart($event)"></app-product>
    </div>
</div>


<div class="text-center w-100 " *ngIf="loading">
    <app-spinner></app-spinner>
</div>