<div class="container">
    <div *ngIf="!loading" class="row row-cols-1 row-cols-md-2 g-3 align-items-center">
        <div class="col">
            <img [src]="productDetails.image" class="m-auto" style="max-width: 400px;" alt="">
        </div>
        <div class="col">
            <div class="d-flex flex-column gap-3">
                <p class="text-dark"><strong>Title : </strong>{{productDetails.title}}</p>
                <p class="text-dark"><strong>Category : </strong>{{productDetails.category}}</p>
                <p class="text-dark"><strong>Description : </strong>{{productDetails.description}}</p>
                <p class="text-dark"><strong>Rate : </strong>{{productDetails.rating.rate}}</p>
                <p class="text-dark"><strong>Count : </strong>{{productDetails.rating.count}}</p>
                <p class="text-dark"><strong>Price : </strong>{{productDetails.price}}</p>
            </div>
        </div>
    </div>

    <div class="text-center">
        <app-spinner *ngIf="loading"></app-spinner>
    </div>

</div>